HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

logs/

mvnw
mvnw.cmd

milvus/milvus_local.db
web-ui/node_modules
web-ui/.next
web-ui/.env

web/src/main/resources/application-upload.yaml
/seata-server/application.yml

### knowledge-base-embedding ###
knowledge-base-embedding/myenv
knowledge-base-embedding/nohup.out
knowledge-base-embedding/process
knowledge-base-embedding/static
knowledge-base-embedding/output

.mvn
.DS_Store